# dependencies
/node_modules/

# logs
/logs/

# archived commands
/archive/

# Configuration
.env

# Unit tests
tests/
__tests__/

# Unit test coverage reports
coverage/

# Transpiled source code (production build)
build/

# misc
/TopGG/
/Privacy.md
