# dependencies
/node_modules/
.eslintcache
tsconfig.tsbuildinfo

# logs
/logs/

# Configuration
.env*

# Unit test coverage
__tests__/

# Unit test coverage reports
coverage/

# Transpiled source code (production build)
build/

# misc
/Privacy.md
.turbo

# Sentry Auth Token
.sentryclirc

# Yarn 4 state file
.yarn/install-state.gz
